.navbar-light {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.logos {
    display: flex;
    align-items: center;
}

.header-btn {
    width: 170px;
    height: 64px;
    color: #fff;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    background: #6C5CE7;
    border-radius: 999px;
    text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
}

.navbar-light .navbar-nav .nav-link {
    color: #6C5CE7;
    width: 22%;
    font-size: 18px;
    line-height: 32px;
}

.navbar-light .navbar-toggler{
    color: #5C5C5C;
    border: none; 
}
.grid-icon-mobile{
    display: none;
}
.mobile-burger{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 992px) {
    .grid-icon-mobile{
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .header-btn {
        width: 128px;
        height: 40px;
        color: #fff;
        border: none;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.25px;
        border-radius: 999px;
        background: #6C5CE7;
        box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
        border-radius: 8px;
    }
}