.grid {
    margin-top: 300px;
    position: relative;
    z-index: 200;
}

.grid .title-use {
    position: relative;
    color: #2D3436;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    z-index: 200;
    padding: 0 5px;
}

.grid .title-this {
    position: relative;
    color: #2D3436;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    z-index: 200;
    width: 77%;
    padding: 45px 0 0 18px;
}

.grid .image {
    margin: 0 auto;
    width: 100%;
}

.grid .image_3 {
    margin: 0 15px;
}

.grid .containerImages-top {
    display: flex;
}

.grid .containerImages-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.grid .btn {
    background: #6C5CE7;
    border-radius: 999px;
    width: 100%;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 30px auto
}

.grid .image_3 {
    margin: 5px 20px;
}

.image-mobile-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.image-mobile2,
.image-mobile5 {
    margin: 0 25px;
}

.grid-mobile {
    display: none;
}

.image-mobile-wrapper {
    display: none;
}

@media screen and (max-width: 996px) {

    .image,
    .image_2,
    .image_5,
    .image_6,
    .image_7,
    .image_3,
    .image_4 {
        display: none;
    }

    .title-use,
    .title-this {
        display: none;
    }

    .grid .btn {
        display: none;
    }
}
.image_2{
    max-height: 326px;
    max-width: 329px;
}

@media screen and (max-width: 576px) {

    .image,
    .image_2,
    .image_5,
    .image_6,
    .image_7,
    .image_3,
    .image_4 {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    .title-this,
    .title-use {
        display: none;
    }

    .grid .btn {
        display: none;
    }

    .grid-mobile {
        display: block;
    }

    .image-mobile-wrapper {
        display: block;
        display: flex;
    }

    .grid {
        margin-top: 30px;
    }
    .image-mobile4, .image-mobile6{
        position: absolute;
        right:0;
    }
    .image-mobile9{
        margin-top: 36px;
    }
   
}

@media screen and (max-width: 400px) {
   
    .image-mobile2,
    .image-mobile5 {
        margin: 0 10px;
    }

}