.main{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.main .bg{
    position: absolute;
    left: 45%;
    bottom: 90px;
}
.main .combineImg{
    position: relative;
    z-index: 200;
}
.main .torepresent{
 margin:  16px 0;
 position: relative;
 z-index: 200;
}

.main .backgroundImage{
    position: absolute;
    height: 753px;
    width: 800px;
    left: 54%;
    top: -85px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .donsImg{
    position: absolute;
    right: -355px;
    top: -78px;
}
