.main {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main .bg {
    position: absolute;
    left: 45%;
    bottom: 90px;
}

.main .combineImg {
    position: relative;
    z-index: 200;
    width: 100%;
}

.main .torepresent {
    margin: 16px 0;
    position: relative;
    z-index: 200;
    width: 100%;
}

.main .backgroundImage {
    position: absolute;
    height: 753px;
    width: 800px;
    left: 54%;
    top: -85px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .wave-mobile {
    position: absolute;
    height: 753px;
    width: 800px;
    left: 54%;
    top: -85px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .donsImg {
    position: absolute;
    right: -355px;
    top: -78px;
}

.combine-mobile {
    display: none;
    margin: 20px 0;
}

.cool-mobile {
    display: none;
    margin: 20px 0;
}

.torepresent-mobile {
    display: none;
}

.bg {
    display: none;
}

@media screen and (max-width: 576px) {

    .backgroundImage {
        display: none;
    }

    .donsImg {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .combine-mobile {
        display: block;
    }

    .cool-mobile {
        display: block;
    }

    .torepresent-mobile {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .combineImg {
        display: none;
    }

    .torepresent {
        display: none;
    }

    .backgroundImage {
        display: none;
    }
}