.main {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main .bg {
    position: absolute;
    left: 45%;
    bottom: 90px;
}

.main .combineImg {
    position: relative;
    z-index: 200;
    width: 100%;
}

.main .torepresent {
    margin: 16px 0;
    position: relative;
    z-index: 200;
    width: 100%;
}

.main .backgroundImage {
    position: absolute;
    height: 753px;
    width: 800px;
    left: 55%;
    top: -96px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundImageMobile {
    height: 753px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.backgWrappMobile {
    position: relative;
    display: none;
}

.rectangleMobile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
}

.dotsMobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.coolMobile {
    position: relative;
    z-index: 200;
    margin: 30px 0 0 0;
    display: none;
}

.bgMobile {
    position: absolute;
    bottom: 98px;
    left: 4px;
    display: none;
}

.torepresentMobile {
    margin: 20px 0;
    padding: 0px 19px;
    display: none;
}

.btnMobile {
    position: relative;
    display: none;
}

.icon-btn-mobile {
    position: absolute;
    right: -54px;
    top: 50px;
    bottom: 0;
    display: none;
}

.combineMobile {
    display: none;
}

@media screen and (max-width: 576px) {
    .backgroundImageMobile {
        height: 753px;
        width: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }

    .backgWrappMobile {
        position: relative;
        display: block;
    }

    .rectangleMobile {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        display: block;
    }

    .dotsMobile {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
    }

    .coolMobile {
        position: relative;
        z-index: 200;
        margin: 30px 0 0 0;
        display: block;
    }

    .bgMobile {
        position: absolute;
        bottom: 98px;
        left: 4px;
        display: block;
    }

    .torepresentMobile {
        margin: 20px 0;
        padding: 0px 19px;
        display: block;
    }

    .btnMobile {
        position: relative;
        display: block;
    }

    .icon-btn-mobile {
        position: absolute;
        right: -54px;
        top: 50px;
        bottom: 0;
        display: block;
    }

    .combineMobile {
        display: block;
    }

}

@media screen and (max-width: 576px) {
    .backgroundMobile {
        display: block;
        width: 100%;
        opacity: 0.5;
    }
}

@media screen and (max-width: 576px) {

    .backgroundImage {
        display: none;
    }

    .donsImg {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .combine-mobile {
        display: block;
    }

    .cool-mobile {
        display: block;
    }

    .torepresent-mobile {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .combineImg {
        display: none;
    }

    .torepresent {
        display: none;
    }

    .backgroundImage {
        display: none;
    }

    .bg {
        display: none;
    }
}