.footer{
    margin-top: 200px;
}
.footer .follow{
 color: #ADADAD;
 font-weight: 800;
 font-size: 12px;
 line-height: 15px;
 letter-spacing: 2.5px;
 text-transform: uppercase;
}
.footer .information{
    color: #ADADAD;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase; 
    margin: 16px 0 0 0;
}
.footer .keep{
    color: #ADADAD;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase; 
    margin: 16px 0;
}
.footer .follow{
    color: #ADADAD;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase; 
}
.footer a{
    display: flex;
    color: #2D3436;
    font-size: 14px;
    line-height: 24px;
    padding: 16px 0 0 0;
    text-decoration: none;
}
.footer .active{
    border-bottom:  solid 1px #2D3436;
    width: 120px;
}
.footer .icons {
   display: flex;
   align-items: center;
}
.footer .icons svg{
    margin-right: 32px;
    cursor: pointer;
}
.footer .footer-image{
  width: 100%;  
  border-radius: 20px;
}
